/* Add your CSS styles here */
body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Green-Blue background color */
    color: #00796b;
}

header {
    height: 40px;
    min-width: 650px;
    flex-shrink: 0;
    background: #306974;
    padding: 20px;
}

.contain{
    align-items: center;
    justify-self: center;
    min-width: 500px;
    flex: 0;
    left: 0px;
    top: -5px;
    position: relative;
}

/* profile info */
.profile{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    text-align: center;
    background:#FAF1EC;
    position: absolute;
    right: 10px;
    top: 0px
}

.profile svg{
    margin-top: 10px;
}

#menu{
    position: absolute;
    left: 10px;
    top: 10px;
}

#home{
    position: absolute;
    right: 80px;
    top: 3px
}

/* Asset on header */
.balance {
    position: absolute;
    width: 250px;
    height: 39.022px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #E0ECDE;
    right: 150px;
    top: 10px;
}

.balance h2{
    flex-shrink: 0;
    color: #5A8A8C;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 10px;
    line-height: normal;
}

#balanceAmount {
    color: #5A8A8C;
    font-family: Inter;
    margin-left: 85px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top:-37px;
}

main {
    max-width: 1500px;
    margin: 0 auto;
    background-color:transparent; /* White content background */
    padding: 20px;
    border-radius: 5px;
}

/* transaction history table */
/* #transactionHistory{
    background: #ECF3EC;
    height: 100px;
    min-width: 600px;
    margin-left: 5%;
    margin-right: 5%;
    flex-shrink: 0;
    border-radius: 0px 20px 0px 0px;
    position: relative;
    align-items: center;
    justify-content: center;
} */

.histHeaders{
    position: relative;
    height: 50px;
    flex-shrink: 0;
    min-width: 450px;
    stroke-width: 2px;
    stroke: #5A8A8C;
    color: white;
    background-color: #5A8A8C;
    border-radius: 0px 15px 0px 0px;
    top: 0px;
}

#date1{
    position:absolute;
    top: 3px;
    left: 10px;
    font-size: 16px;
}
#description1{
    position:absolute;
    top: 3px;
    left: 15%;
    font-size: 16px;
}
#transfer1{
    position:absolute;
    top: 3px;
    left: 45%;
    font-size: 16px;
}
#receive1{
    position:absolute;
    top: 3px;
    left: 63%;
    font-size: 16px;
}

#spend1{
    position:absolute;
    top: 3px;
    left: 76%;
    font-size: 16px;
}

#balance1{
    position:absolute;
    top: 3px;
    left: 89%;
    font-size: 16px;
}

table{
    border-collapse: collapse;
    min-width: 450px;
}

td {
    border: 2px solid #5A8A8C;
    background: #ECF3EC;
    width: 1303px;
    height: 35px;
    flex-shrink: 0;
}

#histBalance{
    border-radius: 20px;
}

/* ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
} */

#c7,#c8,#c9,#c10,#c11,#c12{
    border: 2px solid #5A8A8C;
    background: #CCE0DC;
}

.cell1{
    width: 14%;
    padding-right:10px;
    text-align: right;
}
.cell2{
    width: 30%;
    padding-left:10px;
    text-align: left;
}
.cell3{
    width: 18%;
    padding-right:10px;
    text-align: right;
}
.cell4{
    width: 13%;
    padding-right:10px;
    text-align: right;
}
.cell5{
    width: 13%;
    padding-right:10px;
    text-align: right;
}

.cell6{
    padding-right:10px;
    text-align: right;
}


footer {
    text-align: center;
    padding: 10px;
    background: #306974;
    color: white;
    height: 40px;
    min-width: 650px;
    flex-shrink: 0;
    background: #306974;
    padding: 20px;
}


::-webkit-scrollbar{
    width: 15px;
    
  }
  ::-webkit-scrollbar-track{
    background: rgb(247, 236, 218);
  }
  ::-webkit-scrollbar-thumb{
    background: linear-gradient(rgb(60, 140, 143), #509c76);
    border-radius: 10px;
  }
  