/* Main styling for the main screen */

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFAFA; 
    color: #00796b;
}

header {
    height: 40px;
    min-width: 680px;
    flex-shrink: 0;
    background: #306974;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.contain{
    align-items: center;
    justify-self: center;
    min-width: 500px;
    flex: 0;
    left: 0px;
    top: -5px;
    position: relative;
}

/* profile info */
.profile{
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    text-align: center;
    background:#FAF1EC;
    position: absolute;
    right: 10px;
    top: 3px
}

.profile svg{
    top: 60%;
    width: 45px;
}

#menu{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 50px;
}

#home{
    position: absolute;
    right: 80px;
    top: 3px;
    width: 45px;
    flex-shrink: 0;
}

/* Asset on header */
.balance {
    position: absolute;
    width: 210px;
    height: 33px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #E0ECDE;
    right: 150px;
    top: 10px;
}

.balance h2{
    flex-shrink: 0;
    color: #5A8A8C;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 7px;
    line-height: normal;
}

#balanceAmount {
    color: #5A8A8C;
    font-family: Inter;
    margin-left: 85px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top:-37px;
}

/* main body */
main {
    max-width: 1500px;
    min-height: 600px;
    margin: 0 auto;
    background-color:transparent; 
    padding: 20px;
    border-radius: 5px;
}

/* categories */
.tab{
    min-width: 650px;
    margin-left: 5%;
    margin-right: 5%;
    height: 35px;
    
}

.tab button {
    width: 15%;
    cursor: pointer;
    background-color: #8EBBBD;
    transition: background-color 0.3s;
}

.tab h2{
    font-family: "Inter",sans-serif;
    color: white;
    font-size: 18px;
    margin-top: 6px;
}

#bank{
    margin-right: -5px;
    max-width: 250px;
    min-width: 150px;
    flex-shrink: 0;
    border-radius: 18px 18px 0px 0px;
    border: 1px solid #5A8A8C;
}

#salary{
    margin-right: -5px;
    max-width: 250px;
    min-width: 150px;
    flex-shrink: 0;
    border-radius: 18px 18px 0px 0px;
    border: 1px solid #5A8A8C;
    font-family: "Inter",sans-serif;
    color: white;
}
#life{
    margin-right: -5px;
    max-width: 250px;
    min-width: 150px;
    flex-shrink: 0;
    border-radius: 18px 18px 0px 0px;
    border: 1px solid #5A8A8C;
    font-family: "Inter",sans-serif;
    color: white;
}

#others{
    max-width: 250px;
    min-width: 150px;
    flex-shrink: 0;
    border-radius: 18px 18px 0px 0px;
    border: 1px solid #5A8A8C;
    font-family: "Inter",sans-serif;
    color: white;
}


/* Scroll Bar */

::-webkit-scrollbar{
    width: 15px;
    
  }
  ::-webkit-scrollbar-track{
    background: rgb(247, 236, 218);
  }
  ::-webkit-scrollbar-thumb{
    background: linear-gradient(rgb(60, 140, 143), #509c76);
    border-radius: 10px;
  }
  
  footer {
    text-align: center;
    background: #306974;
    color: white;
    height: 50px;
    min-width: 720px;
    width: 100%;
    flex-shrink: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Inter", sans-serif;
}

.selected{
    background-color: red;
}