.container{
    border-radius: 20px;
    border: 2px solid #5A8A8C;
    background: #AFDBD2;
    height: 40px;
    margin-top: 20px;
    min-width: 647px;
    margin-left: 5%;
    margin-right: 5%;
    flex-shrink: 0;
    border-radius: 0px 0px 20px 20px;
    position: relative;
    align-items: center;
    justify-content: center;
}

#transaction input[type="text"],
#transaction input[type="number"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: transparent;
    font-family: "Inter", sans-serif;
    font-size: 13.5px;
    color:#1C3738;
    opacity: 0.9;
    

}

#date{
    border:none;
    left:0%;
    min-width: 67px;
    width: 80%;
    height:10px;
    text-align: right;
}

#description{
    border:none;
    left:15%;
    width: 90%;
    text-align: left;
    height:10px;
}

#category{
    border:none;
    left:45%;
    width: 90%;
    height: 10px;
    text-align: right;
}

#amountReceive{
    border:none;
    left:63%;
    width: 90%;
    height:10px;
    text-align: right;
}

#amountSpend{
    border:none;
    left: 76%;
    width: 90%;
    height:10px;
    text-align: right;
    
}
#balance{
    border:none;
    left: 89%;
    width: 90%;
    height:10px;
    text-align: right;
}

.icons{
    position:relative;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    min-width: 650px;
    margin-top: 10px;
    height: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

.line{
    position:absolute;
    width:35%;
    height: 2px;
    border-radius: 20px;
    background-color: #5A8A8C;
    top: 50%;
    left: 0px;
}

.line2{
    position:absolute;
    width:30%;
    height: 2px;
    border-radius: 20px;
    background-color: #5A8A8C;
    top: 50%;
    right: 450px;
}

#addTransaction {
    position: absolute;
    width: 111.963px;
    height: 45.803px;
    background-color: #00796b;
    color: black; 
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background: #E0ECDE;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    right:0px;
    font-style: italic;

}

#addTransaction svg{
    position: absolute;
    top: 8px;
    left: 25px;
}

#addTransaction p{
    position: absolute;
    top: 0;
    right: 30px;
    font-family: "Inter", sans-serif;
    font-size: 20;
}

#addTransaction:hover {
    background-color: #99c49e; /* Darker Green-Blue on hover */
    color: white;
}

#remove {
    position: absolute;
    width: 144.534px;
    height: 45.803px;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background: #f4dcd1;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    right:125px;
    font-style: italic;

}

#remove svg{
    position: absolute;
    top: 5px;
    left: 20px;
}

#remove p{
    position: absolute;
    top: 1px;
    right: 30px;
    font-family: "Inter", sans-serif;
    font-size: 20;
}

#remove:hover {
    background-color: #d9b2a8; 
    color: white;
}

#edit{
    position: absolute;
    width: 111.963px;
    height: 45.803px;
    border-radius: 20px;
    border:none;
    background: #C7D6E9;
    cursor: pointer;
    right:285px;
    font-style: italic;
}

#edit svg{
    position: absolute;
    top: 8px;
    left: 25px;
}

#edit p{
    position: absolute;
    top: 0;
    right: 30px;
    font-family: "Inter", sans-serif;
    font-size: 20;
}


#edit:hover {
    background-color: rgb(152, 170, 209);
    color: white;
}

#in{
    min-width: 650px;
    border-collapse: collapse;
    top:0;
}

.date2, .des, .cate, .rec, .spend2, .bal{
    border: none;
    background: transparent;
}

.date2{
    width: 14%;
    border-right: 2px solid #5A8A8C;
    padding-right:10px;
    text-align: right;
}
.des{
    width: 30%;
    border-right: 2px solid #5A8A8C;
    padding-left:10px;
    text-align: left;
}
.cate{
    width: 18%;
    border-right: 2px solid #5A8A8C;
    padding-right:10px;
    text-align: right;
}
.rec{
    width: 13%;
    border-right: 2px solid #5A8A8C;
    padding-right:10px;
    text-align: right;
}
.spend2{
    width: 13%;
    border-right: 2px solid #5A8A8C;
    padding-right:10px;
    text-align: right;
}

.bal{
    padding-right:10px;
    text-align: right;
}