.plots {
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid black;
    position: relative;
    height: 300px;
    min-height: 50px;
    width: 50%;
    min-width: 570px;
    margin-left: 5%;
    padding: 10px;
}